{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'frontend/favicon.png' %}">
    <title>{% block title %}Панель управления{% endblock %}</title>
    <link href="{% static 'dashboard/assets/libs/flot/css/float-chart.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/jquery-ui/jquery-ui.min.css' %}">
    <link href="{% static 'dashboard/dist/css/style.min.css' %}" rel="stylesheet">
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper">
        {% block main %}
            {% include "dashboard/layouts/header.html.j2" %}
            {% include "dashboard/layouts/sidebar.html.j2" %}


            <div class="page-wrapper">
                {% block breadcrumb %}{% endblock %}
                <div class="container-fluid">
                    {% block content %}{% endblock %}
                </div>
                {% include "dashboard/layouts/footer.html.j2" %}

            </div>
        {% endblock %}
    </div>

    <script src="{% static 'dashboard/assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'dashboard/dist/js/jquery-ui.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'dashboard/assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/extra-libs/sparkline/sparkline.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'dashboard/dist/js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'dashboard/dist/js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'dashboard/dist/js/custom.min.js' %}"></script>
    <!--This page JavaScript -->
    <!-- <script src="{% static 'dashboard/dist/js/pages/dashboards/dashboard1.js' %}"></script> -->
    <!-- Charts js Files -->
    <script src="{% static 'dashboard/assets/libs/flot/excanvas.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/flot/jquery.flot.time.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/flot/jquery.flot.crosshair.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'dashboard/dist/js/pages/chart/chart-page-init.js' %}"></script>
    {% block bottomscripts %}{% endblock %}
</body>

</html>
