<aside class="left-sidebar" data-sidebarbg="skin5">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30">
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'employees_list' %}" aria-expanded="false">
                        <i class="mdi mdi-account-multiple"></i>
                        <span class="hide-menu">Сотрудники</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'offices_list' %}" aria-expanded="false">
                        <i class="mdi mdi-office"></i>
                        <span class="hide-menu">Офисы</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'departments_list' %}" aria-expanded="false">
                        <i class="mdi mdi-clipboard-text"></i>
                        <span class="hide-menu">Департаменты</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'couples_list' %}" aria-expanded="false">
                        <i class="mdi mdi-checkerboard"></i>
                        <span class="hide-menu">Пары</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'clients_list' %}" aria-expanded="false">
                        <i class="mdi mdi-bank"></i>
                        <span class="hide-menu">Пользователи</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
