{% extends "dashboard/layouts/base.html.j2" %}
{% block title %}Панель управления - Управление сотрудниками{% endblock %}

{% block breadcrumb %}
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Управление сотрудниками</h4>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <form class="form-horizontal" method="post">
                    <div class="card-body">
                        {% csrf_token %}

                        {{ form.non_field_errors }}

                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field.errors }}
                            {{ hidden_field }}
                        {% endfor %}

                        <div class="form-group row">
                            {{ form.first_name.label_tag }}
                            <small class="help-block form-text">{{ form.first_name.help_text }}</small>
                            {{ form.first_name }}
                            <small class="form-text text-danger">{{ form.first_name.errors }}</small>
                        </div>

                        <div class="form-group row">
                            {{ form.last_name.label_tag }}
                            <small class="help-block form-text">{{ form.last_name.help_text }}</small>
                            {{ form.last_name }}
                            <small class="form-text text-danger">{{ form.last_name.errors }}</small>
                        </div>

                        <div class="form-group row">
                            {{ form.sur_name.label_tag }}
                            <small class="help-block form-text">{{ form.sur_name.help_text }}</small>
                            {{ form.sur_name }}
                            <small class="form-text text-danger">{{ form.sur_name.errors }}</small>
                        </div>

                        <div class="form-group row">
                            {{ form.email.label_tag }}
                            <small class="help-block form-text">{{ form.email.help_text }}</small>
                            {{ form.email }}
                            <small class="form-text text-danger">{{ form.email.errors }}</small>
                        </div>

                        <div class="form-group row">
                            {{ form.department.label_tag }}
                            <small class="help-block form-text">{{ form.department.help_text }}</small>
                            {{ form.department }}
                            <small class="form-text text-danger">{{ form.department.errors }}</small>
                        </div>

                        <div class="form-group row">
                            {{ form.office.label_tag }}
                            <small class="help-block form-text">{{ form.office.help_text }}</small>
                            {{ form.office }}
                            <small class="form-text text-danger">{{ form.office.errors }}</small>
                        </div>

                        <div class="form-group row">
                            {{ form.giver.label_tag }}
                            <small class="help-block form-text">{{ form.giver.help_text }}</small>
                            {{ form.giver }}
                            <small class="form-text text-danger">{{ form.giver.errors }}</small>
                        </div>

                        <div class="form-group row">
                            {{ form.status.label_tag }}
                            <small class="help-block form-text">{{ form.status.help_text }}</small>
                            {{ form.status }}
                            <small class="form-text text-danger">{{ form.status.errors }}</small>
                        </div>
                    </div>
                    <div class="border-top">
                        <div class="card-body">
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bottomscripts %}

    <script type="text/javascript">
        $(function() {
            var office     = $('.js-office').val();
            var department = $('.js-department').val();
            var email      = $('.js-email').val();
            $(".js-giver").autocomplete({
                source: function( request, response ) {
                    $.ajax({
                        url: "{% url 'employees_givers' %}"+"?office="+office+"&department="+department+"&email="+email,
                        dataType: "json",
                        data: {
                            q: request.term
                        },
                        success: function( data ) {
                            response(data.list);
                        }
                    });
                },
            });
        });
    </script>

{% endblock %}
