{% extends "dashboard/layouts/base.html.j2" %}
{% block title %}Панель управления - Сотрудники{% endblock %}

{% block breadcrumb %}
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Сотрудники</h4>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="dataTables_wrapper container-fluid dt-bootstrap4">
                            <div class="row">
                                <h4 class="mr-2"><a href="{% url 'employees_new' %}" class="btn btn-info">Создать</a></h4>

                                <form class="form-horizontal w-100" action="" method="get">
                                    <div class="row align-items-end">
                                        <div class="col-sm-6 col-xl-1 col-md-3">
                                            <div class="form-group">
                                                {{ filter_form.status.label_tag }}
                                                <small class="help-block form-text">{{ filter_form.status.help_text }}</small>
                                                {{ filter_form.status }}
                                                <small class="text-danger">{{ filter_form.status.errors }}</small>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xl-1 col-md-3">
                                            <div class="form-group">
                                                {{ filter_form.first_name.label_tag }}
                                                <small class="help-block form-text">{{ filter_form.first_name.help_text }}</small>
                                                {{ filter_form.first_name }}
                                                <small class="text-danger">{{ filter_form.first_name.errors }}</small>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xl-1 col-md-3">
                                            <div class="form-group">
                                                {{ filter_form.last_name.label_tag }}
                                                <small class="help-block form-text">{{ filter_form.last_name.help_text }}</small>
                                                {{ filter_form.last_name }}
                                                <small class="text-danger">{{ filter_form.last_name.errors }}</small>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xl-1 col-md-3">
                                            <div class="form-group">
                                                {{ filter_form.sur_name.label_tag }}
                                                <small class="help-block form-text">{{ filter_form.sur_name.help_text }}</small>
                                                {{ filter_form.sur_name }}
                                                <small class="text-danger">{{ filter_form.sur_name.errors }}</small>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-xl-1 col-md-3">
                                            <div class="form-group">
                                                {{ filter_form.email.label_tag }}
                                                <small class="help-block form-text">{{ filter_form.email.help_text }}</small>
                                                {{ filter_form.email }}
                                                <small class="text-danger">{{ filter_form.email.errors }}</small>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xl-1 col-md-3">
                                            <div class="form-group">
                                                {{ filter_form.department.label_tag }}
                                                <small class="help-block form-text">{{ filter_form.department.help_text }}</small>
                                                {{ filter_form.department }}
                                                <small class="text-danger">{{ filter_form.department.errors }}</small>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xl-1 col-md-3">
                                            <div class="form-group">
                                                {{ filter_form.office.label_tag }}
                                                <small class="help-block form-text">{{ filter_form.office.help_text }}</small>
                                                {{ filter_form.office }}
                                                <small class="text-danger">{{ filter_form.office.errors }}</small>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-xl-5 col-md-3">
                                            <div class="form-group">
                                                <button type="submit" name="type" value="{{filter_form.TYPE_FILTER}}" class="btn btn-info">Фильтровать</button>
                                                <button type="submit" name="type" value="{{filter_form.TYPE_EXPORT}}" class="btn btn-success">Экспортировать</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <form class="form-horizontal w-100" action="{% url 'employees_import' %}" method="post" enctype="multipart/form-data" novalidate>
                                    {% csrf_token %}
                                    <div class="row align-items-end">
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                {{ import_form.file.label_tag }}
                                                <small class="help-block form-text">{{ import_form.file.help_text }}</small>
                                                {{ import_form.file }}
                                                <small class="text-danger">{{ import_form.file.errors }}</small>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-warning">Импортировать</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <table class="table table-striped table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th>Статус</th>
                                            <th>Имя</th>
                                            <th>Фамилия</th>
                                            <th>Отчество</th>
                                            <th>Емейл</th>
                                            <th>Департамент</th>
                                            <th>Офис</th>
                                            <th>Даритель</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for obj in object_list %}
                                            <tr>
                                                <td scope="row">{{ obj.id }}</td>
                                                <td>
                                                    {% if obj.status %}
                                                        <span class="btn btn-success">{{ obj.get_status_display }}</span>
                                                        {% else %}
                                                        <span class="btn btn-danger js-client-registration-btn" data-toggle="modal" data-target="#clientRegister" data-id="{{ obj.id }}">
                                                            {{ obj.get_status_display }}
                                                        </span>
                                                    {% endif %}
                                                </td>
                                                <td>{{ obj.first_name }}</td>
                                                <td>{{ obj.last_name }}</td>
                                                <td>{{ obj.sur_name }}</td>
                                                <td>{{ obj.email }}</td>
                                                <td>{{ obj.department.title }}</td>
                                                <td>{{ obj.office.title }}</td>
                                                <td>
                                                    {% if obj.giver %}
                                                        {{obj.giver.first_name}} {{obj.giver.last_name}} {{obj.giver.sur_name}}
                                                    {% endif %}
                                                </td>
                                                <td align="right">
                                                    <a href="{% url 'employees_edit' obj.id %}" class="btn btn-secondary"><i class="ti-pencil" aria-hidden="true"></i></a>
                                                    <a href="{% url 'employees_delete' obj.id %}" class="btn btn-secondary"><i class="ti-trash" aria-hidden="true"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% include "dashboard/common/pagination.html.j2" %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="clientRegister" tabindex="-1" role="dialog" aria-labelledby="clientRegisterLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clientRegisterLabel">Зарегистрировать?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <form class="js-client-registration-form" action="{% url 'employees_registration' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" class="js-client-registration-input" name="employee" value="">
                    <button type="submit" class="btn btn-primary">Да</button>
                </form>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bottomscripts %}

    <script type="text/javascript">
        $('.js-client-registration-btn').click(function(event) {
            $('.js-client-registration-input').val($(this).data('id'));
        });

        $('.js-client-registration-form').on('submit', function(event) {
            event.preventDefault();
            var form = $(this);
            $.ajax({
                url: form.attr('action'),
                type: 'POST',
                dataType: 'json',
                data: form.serialize(),
                success: function(data){
                    if (data.success) {
                        document.location.reload();
                    }
                }
            })
        });

    </script>

{% endblock %}
