<p>Для подтверждения перейдите по ссылке
    <a href="{{ request.scheme }}://{{ request.get_host }}{% url 'employees_confirm' slug %}">
        {{ request.scheme }}://{{ request.get_host }}{% url 'employees_confirm' slug %}
    </a>
</p>
