{% load static %}
<section class="info">
    <div class="main-container main-container-fhd main-relative">
        <div class="info_top">
            <div class="info_top_first animated slideInLeft">
                <img src="{% static 'frontend/images/header/item2.png' %}" class="animated jello" alt="">
            </div>
            <div class="info_top_last animated slideInRight">
                <img src="{% static 'frontend/images/header/item3.png' %}" class="animated jello" alt="">
            </div>
        </div>
    </div>

    <div class="info_image">
        <img src="{% static 'frontend/images/info/image.png' %}" alt="">
    </div>
    <div class="info_text">
        <p>Тайный Санта — это добрая рождественская игра, смысл которой заключается в анонимном обмене подарками между участниками.</p>
        <p>Стать Тайным Сантой может любой желающий — достаточно подтвердить свое участие, дождаться жеребьевки и в назначенный день передать  свой подарок помощнику Санты.</p>
    </div>
    <div class="info_btn js-popup-open" data-popup="js-popup-subscribe">
        <span>Участвовать</span>
    </div>
    <div class="info_tree"><img src="{% static 'frontend/images/info/tree.png' %}" alt=""></div>
</section>
