<section class="instructions js-instructions" id="instructions">
    <div class="main-container main-container-middle main-padding">
        <h3 class="instructions_title main-title">Как это работает?</h3>
        <div class="instructions_box">
            <div class="instructions_box_item">
                <div class="instructions_box_item_circle"></div><div class="instructions_box_item_line"></div>
                <div class="instructions_box_item_info">
                    <p>Регистрация</p>
                </div>
                <div class="instructions_box_item_title">
                    <p>12-18 декабря</p>
                </div>
                <div class="instructions_box_item_text">
                    <p>Зарегистрируйтесь, чтобы принять участие. После завершения регистрации проверьте почтовый ящик — вам необходимо будет подтвердить регистрацию, перейдя по ссылке в письме.</p>
                </div>
            </div>
            <div class="instructions_box_item">
                <div class="instructions_box_item_circle"></div><div class="instructions_box_item_line"></div>
                <div class="instructions_box_item_info">
                    <p>Жеребьевка</p>
                </div>
                <div class="instructions_box_item_title">
                    <p>19 декабря</p>
                </div>
                <div class="instructions_box_item_text">
                    <p>После окончания регистрации помощники Санты проведут жеребьевку, и вы получите имя человека, для которого в этом году станете Тайным Сантой. Не волнуйтесь, вы тоже получите свой подарок, но от кого — останется тайной!</p>
                </div>
            </div>
            <div class="instructions_box_item">
                <div class="instructions_box_item_circle"></div><div class="instructions_box_item_line"></div>
                <div class="instructions_box_item_info">
                    <p>Подготовка</p>
                </div>
                <div class="instructions_box_item_title">
                    <p>20-24 декабря</p>
                </div>
                <div class="instructions_box_item_text">
                    <p>Поздравляем! Теперь вы — чей-то Тайный Санта и пора подумать о подарке. Пожалуйста, отнеситесь к этому ответственно —   рекомендации и инструкции по выбору и упаковке подарка можно найти <a href="#js-gift-to-give" class="js-scroll-to js-gift-to-give-btn">здесь</a>. Свой подарок нужно обязательно подписать, иначе почтальон не найдет дорогу к адресату!</p>
                </div>
            </div>
            <div class="instructions_box_item">
                <div class="instructions_box_item_circle"></div>
                <div class="instructions_box_item_info">
                    <p>Вручение</p>
                </div>
                <div class="instructions_box_item_title">
                    <p>24-27 декабря</p>
                </div>
                <div class="instructions_box_item_text">
                    <p>За несколько дней до праздника начинает работу почтовое отделение Тайного Санты — нарядно украшенная стойка, куда вы можете принести свой подарок. Помощник Санты сохранит его в целости и сохранности до 27 декабря — именно в этот день все силы Санты будут брошены на раздачу подарков участникам игры.</p>
                </div>
            </div>
        </div>
    </div>
</section>
