{% load static %}
<div class="footer-bg" id="questions">
    <div class="main-container main-container-big main-padding footer-container">
        <div class="footer-tree"><img src="{% static 'frontend/images/icons/tree.png' %}" alt=""></div>
        <div class="footer-first"><img src="{% static 'frontend/images/icons/item1.png' %}" alt=""></div>
        <div class="footer-second"><img src="{% static 'frontend/images/icons/item2.png' %}" alt=""></div>
        <div class="footer-third"><img src="{% static 'frontend/images/icons/item3.png' %}" alt=""></div>
    </div>
    <div class="main-container main-container-large footer-container">
        <div class="footer-top-icons"><img src="{% static 'frontend/images/footer/top-icons.png' %}" alt=""></div>
        <div class="footer-bottom-icons"><img src="{% static 'frontend/images/footer/bottom-icons.png' %}" alt=""></div>
        <section class="questions">
            <div class="main-container main-container-small main-padding">
                <h3 class="questions_title main-title">Вопросы Санте</h3>
                <div class="questions_box">
                    <div class="questions_box_item js-openable-box">
                        <div class="questions_box_item_arrow js-openable-box-btn"><i class="icons-arrow-down"></i></div>
                        <div class="questions_box_item_show">
                            <p>Как принять участие в игре?</p>
                        </div>
                        <div class="questions_box_item_hidden js-openable-box-text">
                            <p>Чтобы принять участие в розыгрыше, необходимо пройти процедуру регистрации. Нажмите на кнопку «Участвовать» и следуйте инструкции.</p>
                        </div>
                    </div>
                    <div class="questions_box_item js-openable-box">
                        <div class="questions_box_item_arrow js-openable-box-btn"><i class="icons-arrow-down"></i></div>
                        <div class="questions_box_item_show">
                            <p>Не хочу участвовать! Можно ли отказаться от участия?</p>
                        </div>
                        <div class="questions_box_item_hidden js-openable-box-text">
                            <p>Конечно, участие в розыгрыше добровольное. Если вы не хотите участвовать, просто не регистрируйтесь.</p>
                        </div>
                    </div>
                    <div class="questions_box_item js-openable-box">
                        <div class="questions_box_item_arrow js-openable-box-btn"><i class="icons-arrow-down"></i></div>
                        <div class="questions_box_item_show">
                            <p>Не получается зарегистрировать, что делать?</p>
                        </div>
                        <div class="questions_box_item_hidden js-openable-box-text">
                            <p>Обратитесь к нашим помощникам по почтовому адресу iamyoursanta@biocad.ru и мы вам поможем!</p>
                        </div>
                    </div>
                    <div class="questions_box_item js-openable-box">
                        <div class="questions_box_item_arrow js-openable-box-btn"><i class="icons-arrow-down"></i></div>
                        <div class="questions_box_item_show">
                            <p>Что такое Почта Санты?</p>
                        </div>
                        <div class="questions_box_item_hidden js-openable-box-text">
                            <p>Почта Санты принимает и разносит подарки по офисам. Просто принесите свой подарок на стойку, а все остальное помощники сделают самостоятельно.</p>
                            <p>График работы почты Санты:</p>
                            <p>•	Офис Пассаж — 23-27 декабря с 09.00 до 18.00</p>
                            <p>•	Все остальные офисы – 24-27 декабря с 09.00 до 18.00</p>
                        </div>
                    </div>
                    <div class="questions_box_item js-openable-box" id="js-gift-to-give">
                        <div class="questions_box_item_arrow js-openable-box-btn"><i class="icons-arrow-down"></i></div>
                        <div class="questions_box_item_show">
                            <p>Какой подарок дарить, как его упаковать?</p>
                        </div>
                        <div class="questions_box_item_hidden js-openable-box-text">
                            <p>Подготовьте подарок, следуя нашей инструкции:</p>
                            <p>1) Рекомендуемая стоимость подарка — не более 1 000 рублей.</p>
                            <p>2) Подарок должен быть упакован и подписан в формате ФИО адресата, департамент, этаж.</p>
                            <p>Пожалуйста, не дарите легко бьющиеся и крупногабаритные предметы!</p>
                        </div>
                    </div>
                    <div class="questions_box_item js-openable-box">
                        <div class="questions_box_item_arrow js-openable-box-btn"><i class="icons-arrow-down"></i></div>
                        <div class="questions_box_item_show">
                            <p>Не останусь ли я без подарка?</p>
                        </div>
                        <div class="questions_box_item_hidden js-openable-box-text">
                            <p>У нас честная игра — все зарегистрировавшиеся обязательно получат свой подарок</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% include "frontend/layouts/footer.html.j2" %}
    </div>
</div>
