{% extends "dashboard/layouts/base.html.j2" %}
{% block title %}Панель управления - Пары{% endblock %}

{% block breadcrumb %}
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Пары</h4>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="dataTables_wrapper container-fluid dt-bootstrap4">
                            <div class="row">

                                <form class="form-horizontal w-100" action="{% url 'couples_set' %}" method="post">
                                    {% csrf_token %}

                                    <div class="row align-items-end">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                {{ couples_form.office.label_tag }}
                                                <small class="help-block form-text">{{ couples_form.office.help_text }}</small>
                                                {{ couples_form.office }}
                                                <small class="text-danger">{{ couples_form.office.errors }}</small>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                {{ couples_form.department.label_tag }}
                                                <small class="help-block form-text">{{ couples_form.department.help_text }}</small>
                                                {{ couples_form.department }}
                                                <small class="text-danger">{{ couples_form.department.errors }}</small>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-info">Обработать</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <table class="table table-striped table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th>Офис</th>
                                            <th>Департамент</th>
                                            <th>Даритель</th>
                                            <th>Приниматель</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for obj in object_list %}
                                            <tr>
                                                <td scope="row">{{ obj.id }}</td>
                                                <td>{{obj.sender.office.title}}</td>
                                                <td>{{obj.sender.department.title}}</td>
                                                <td>{{obj.sender.first_name}} {{obj.sender.last_name}} {{obj.sender.sur_name}}</td>
                                                <td>{{obj.taker.first_name}} {{obj.taker.last_name}} {{obj.taker.sur_name}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% include "dashboard/common/pagination.html.j2" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
