{% extends "dashboard/layouts/base.html.j2" %}
{% block main %}
<div class="main-wrapper">
    <div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-dark">
        <div class="auth-box bg-dark border-top border-secondary">
            <div>
                <div class="text-center">
                    <h3 class="text-white">Установить новый пароль!</h3>
                </div>
                <div class="row m-t-20">

                    <form class="col-12 text-white p-r-f" method="post">
                        {% csrf_token %}
                        {{ form }}

                        <div class="row m-t-20 p-t-20 border-top border-secondary">
                            <div class="col-12">
                                <button class="btn btn-info float-right" type="submit" name="action">Изменить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style media="screen">
    .p-r-f input {
        border-radius: 4px;
        width: 100%;
        display: block;
        border: 0;
        padding: 6px 10px;
    }
</style>
{% endblock %}
