{% extends "dashboard/layouts/base.html.j2" %}
{% block main %}
<div class="main-wrapper">
    <div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-dark">
        <div class="auth-box bg-dark border-top border-secondary">
            <div>
                <div class="text-center">
                    <span class="text-white">Введите свой адрес электронной почты ниже, и мы вышлем вам инструкции, как восстановить пароль.</span>
                </div>
                <div class="row m-t-20">

                    <form class="col-12" action="{% url 'password_reset' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-danger text-white" id="basic-addon1"><i class="ti-email"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-lg" placeholder="Адрес электронной почты" name="email" aria-label="Логин" aria-describedby="basic-addon1">
                        </div>

                        <div class="row m-t-20 p-t-20 border-top border-secondary">
                            <div class="col-12">
                                <button class="btn btn-info float-right" type="submit" name="action">Восстановить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
