{% extends "dashboard/layouts/base.html.j2" %}
{% block main %}
<div class="main-wrapper">
    <div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-dark">
        <div class="auth-box bg-dark border-top border-secondary">
            <div>
                <div class="text-center">
                    <h2 class="text-white">Проверьте свою электронную почту.</h2>
                    <h4 class="text-white">Письмо отправлено!</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
