{% extends "dashboard/layouts/base.html.j2" %}
{% block main %}
<div class="main-wrapper">
    <div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-dark">
        <div class="auth-box bg-dark border-top border-secondary">
            <div>
                <div class="text-center">
                    <h2 class="text-white">Сброс пароля завершен.</h2>
                    <h4 class="text-white">Ваш новый пароль был установлен.</h4>
                </div>
                <div class="row border-top border-secondary">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="p-t-20 text-center">
                                <a href="{% url 'accounts_login' %}" class="btn btn-success">Войти</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
