@font-face
    font-family: 'Caravan'
    src: url('../fonts/Caravan.eot')
    src: local('../fonts/Caravan'), url('../fonts/Caravan.eot?#iefix') format('embedded-opentype'), url('../fonts/Caravan.woff2') format('woff2'), url('../fonts/Caravan.woff') format('woff'), url('../fonts/Caravan.ttf') format('truetype')
    font-weight: normal
    font-style: normal
