.footer
    color: #ececee
    &-tree
        position: absolute
        left: 0
        top: -170px
        z-index: 2
        pointer-events: none
    &-first
        position: absolute
        left: 360px
        top: 0
        z-index: 1
        pointer-events: none
    &-second
        position: absolute
        left: 445px
        top: 0
        z-index: 1
        pointer-events: none
    &-third
        position: absolute
        right: 430px
        top: 0
        z-index: 1
        pointer-events: none
    &-bg
        background: url('../images/footer/footer-bg.jpg') no-repeat top center
        background-size: cover
    &-container
        position: relative
    &-top-icons
        position: absolute
        top: 0
        right: 0
    &-bottom-icons
        position: absolute
        bottom: 0
        left: 0
    &_text
        text-align: center
        color: #ffffff
        font-size: 13px
        font-weight: 400
        padding: 50px 0 70px
        a
            color: #dbbe58
            text-decoration: none
            &:hover
                color: #dbbe58
                text-decoration: underline
    p
        padding: 0
        margin: 0

@media screen and (max-width: 1700px)
    .footer
        &-first
            left: 260px
        &-second
            left: 345px
        &-third
            right: 330px

@media screen and (max-width: 1550px)
    .footer
        &-first
            left: 160px
        &-second
            left: 245px
        &-third
            right: 230px

@media screen and (max-width: 1300px)
    .footer
        &-tree
            top: -140px
            img
                width: 85%
        &-first
            left: 60px
        &-second
            left: 145px
        &-third
            right: 130px

@media screen and (max-width: 1200px)
    .footer
        &-tree
            top: -120px
            img
                width: 75%

@media screen and (max-width: 1100px)
    .footer
        &-tree
            top: -100px
            img
                width: 60%
        &-first
            left: 0
        &-second
            left: 45px
        &-third
            right: 30px

@media screen and (max-width: 870px)
    .footer
        &-first
            img
                width: 70%
        &-second
            img
                width: 70%
        &-third
            right: 0
            text-align: right
            img
                width: 70%

@media screen and (max-width: 870px)
    .footer
        &-first
            img
                width: 50%
        &-second
            left: 20px
            img
                width: 50%
        &-third
            img
                width: 50%

@media screen and (max-width: 700px)
    .footer
        &-first
            img
                width: 25%
        &-second
            img
                width: 25%
        &-third
            img
                width: 25%

@media screen and (max-width: 600px)
    .footer
        &-tree
            img
                width: 70%

@media screen and (max-width: 550px)
    .footer
        &-tree
            img
                width: 80%

@media screen and (max-width: 450px)
    .footer
        &-tree
            top: -80px

@media screen and (max-width: 400px)
    .footer
        &-tree
            top: -60px
