.form
    &.form-popup
        box-sizing: border-box
        padding: 0 110px
    &_title
        color: #35673b
    &_text
        color: #152817
        font-size: 15px
        font-weight: 400
        margin: 30px 0 50px
        p
            padding: 0
            margin: 0
    &_row
        margin-bottom: 30px
    &_label
        color: #35673b
        font-size: 23px
        font-weight: 500
        margin-bottom: 8px
        display: block
    &_input
        box-shadow: inset 0 0 13px rgba(0, 0, 0, 0.17)
        background-color: #ffffff
        border: 1px solid #EAEAEA
        height: 50px
        border-radius: 50px
        width: 100%
        padding: 0 20px
        box-sizing: border-box
        &:focus
            outline: 0
    &_submit
        padding-top: 25px
        &_btn
            border-radius: 27px
            background-color: #075523
            color: #ffffff
            font-family: 'Playfair Display', serif
            font-size: 40px
            font-weight: 700
            // padding: 0 22px 8px
            text-align: center
            border: 0
            display: block
            cursor: pointer
            max-width: 450px
            width: 100%
            height: 54px
            margin: 0 auto
            span
                height: 54px
                display: block
            &:focus
                outline: 0

@media screen and (max-width: 800px)
    .form
        &.form-popup
            padding: 0 0

@media screen and (max-width: 480px)
    .form
        &_submit
            &_btn
                font-size: 26px
                span
                    line-height: 45px
