.header
    background: url('../images/header/header-bg-gradient.jpg') no-repeat top center

    position: relative
    // max-width: 1920px
    max-width: 100%
    background-size: cover
    margin: 0 auto
    &_container
        height: 927px
    &_nav
        padding: 40px 0
        &_menu
            display: flex
            flex-direction: row
            justify-content: space-between
            list-style: none
            padding: 0
            margin: 0
            &_item
                &_link
                    color: #ececee
                    font-size: 16px
                    font-weight: 300
                    text-decoration: none
                    &:hover
                        text-decoration: underline
                        color: #ececee
    &_box
        text-align: center
        &_link
            font-family: 'Playfair Display', serif
        &_text
            &_title
                text-shadow: 2px 9px 10px rgba(7, 7, 7, 0.18)
                color: #ffffff
                font-size: 20px
                font-weight: 300
                line-height: 36px
                margin: 30px 0 70px
                padding: 0
            &_btn
                color: #ffffff
                font-family: "Playfair Display", serif
                font-size: 40px
                font-weight: 700
                width: 310px
                height: 54px
                display: inline-block
                border-radius: 27px
                background-color: #075523
                text-align: center
                line-height: 48px
                cursor: pointer
    &_icons
        pointer-events: none
        &_left
            position: absolute
            // bottom: -40px
            bottom: -320px
            z-index: 2
            // left: 310px
            left: 245px
        &_right
            position: absolute
            bottom: 25px
            right: 120px

@media screen and (max-width: 1900px)
    .header
        &_icons
            &_left
                left: 200px
            &_right
                right: 60px

@media screen and (max-width: 1750px)
    .header
        &_icons
            &_left
                left: 50px
            &_right
                right: 60px

@media screen and (max-width: 1500px)
    .header
        &_icons
            &_left
                left: 0
            &_right
                right: 0

@media screen and (max-width: 1350px)
    .header
        &_icons
            &_left
                bottom: -280px
                img
                    width: 90%
            &_right
                text-align: right
                img
                    width: 90%

@media screen and (max-width: 1250px)
    .header
        &_icons
            &_left
                bottom: -260px
                img
                    width: 80%
            &_right
                img
                    width: 80%

@media screen and (max-width: 1050px)
    .header
        &_icons
            &_left
                bottom: -240px
                img
                    width: 70%
            &_right
                img
                    width: 70%

@media screen and (max-width: 950px)
    .header
        &_icons
            &_left
                bottom: -190px
                img
                    width: 60%
            &_right
                img
                    width: 60%

@media screen and (max-width: 750px)
    .header
        &_icons
            &_left
                bottom: -160px
                img
                    width: 50%
            &_right
                img
                    width: 50%

@media screen and (max-width: 700px)
    .header
        &_icons
            &_left
                width: 100%
                text-align: center
                img
                    width: 55%
            &_right
                display: none

@media screen and (max-width: 600px)
    .header
        &_icons
            &_left
                img
                    width: 70%

@media screen and (max-width: 575px)
    .header
        &_nav
            &_menu
                flex-direction: column
                text-align: center
                &_item
                    margin: 5px 0

@media screen and (max-width: 500px)
    .header
        &_icons
            &_left
                img
                    width: 80%

@media screen and (max-width: 400px)
    .header
        &_icons
            &_left
                img
                    width: 100%
