.info
    text-align: center
    background: url('../images/info/info-bg.jpg') no-repeat top center
    // background-size: 100% 100%
    padding-bottom: 75px
    position: relative
    // max-width: 1920px
    max-width: 100%
    background-size: cover
    margin: 0 auto
    &_top
        &_first
            position: absolute
            right: 545px
            top: 0
        &_last
            position: absolute
            right: 500px
            top: 0
    &_tree
        position: absolute
        right: 0
        bottom: -240px
        pointer-events: none
    &_image
        padding-top: 120px
        padding-left: 10px
        padding-right: 10px
    &_text
        max-width: 435px
        width: 100%
        box-sizing: border-box
        padding-left: 10px
        padding-right: 10px
        color: #ffffff
        font-size: 16px
        font-weight: 400
        line-height: 24px
        margin: 0 auto
        padding-top: 15px
        p
            margin: 30px 0 0 0
            padding: 0
    &_btn
        margin: 0 auto
        cursor: pointer
        width: 300px
        height: 54px
        box-shadow: 1px 3px 15px 1px rgba(7, 7, 7, 0.22)
        border-radius: 27px
        background-color: #c00719
        line-height: 47px
        margin-top: 55px
        span
            text-shadow: 1px 4px 8px rgba(92, 4, 12, 0.83)
            color: #ffffff
            font-family: "Playfair Display", serif
            font-size: 40px
            font-weight: 700

@media screen and (max-width: 1800px)
    .info
        &_top
            &_first
                right: 485px
            &_last
                right: 440px
        &_tree
            text-align: right
            img
                width: 80%

@media screen and (max-width: 1670px)
    .info
        &_top
            &_first
                right: 385px
            &_last
                right: 340px

@media screen and (max-width: 1500px)
    .info
        &_top
            &_first
                right: 285px
            &_last
                right: 240px
        &_tree
            bottom: -140px
            img
                width: 60%

@media screen and (max-width: 1300px)
    .info
        &_top
            &_first
                right: 185px
            &_last
                right: 140px

@media screen and (max-width: 1200px)
    .info
        &_tree
            img
                width: 50%

@media screen and (max-width: 1100px)
    .info
        &_top
            &_first
                right: 85px
            &_last
                right: 40px

@media screen and (max-width: 900px)
    .info
        &_top
            &_first
                right: 45px
            &_last
                right: 0
        &_tree
            bottom: -100px
            img
                width: 40%
        &_image
            padding-top: 160px
@media screen and (max-width: 800px)
    .info
        &_top
            &_first
                text-align: right
                img
                    width: 80%
            &_last
                text-align: right
                img
                    width: 80%

@media screen and (max-width: 750px)
    .info
        &_top
            &_first
                img
                    width: 60%
            &_last
                img
                    width: 60%

@media screen and (max-width: 700px)
    .info
        &_top
            &_first
                img
                    width: 50%
            &_last
                img
                    width: 50%
        &_tree
            bottom: -120px
            img
                width: 50%

@media screen and (max-width: 600px)
    .info
        &_tree
            bottom: -90px

@media screen and (max-width: 550px)
    .info
        &_top
            &_first
                img
                    width: 40%
            &_last
                img
                    width: 40%

@media screen and (max-width: 500px)
    .info
        &_tree
            bottom: -80px
            img
                width: 60%

@media screen and (max-width: 400px)
    .info
        &_tree
            img
                width: 70%
