.instructions
    background-color: #ececee
    color: #152817
    padding-bottom: 60px
    a
        color: #da9f36
        text-decoration: underline
        &:hover
            color: #da9f36
            text-decoration: none
    p
        padding: 0
        margin: 0
    &_title
        color: #35673b
        padding: 68px 0 44px
        text-align: center
    &_box
        &_item
            padding-bottom: 40px
            position: relative
            box-sizing: border-box
            padding-left: 40px
            &_circle
                position: absolute
                top: 46px
                left: 0
                width: 10px
                height: 10px
                background: #da9f36
                border-radius: 10px
            &_line
                position: absolute
                top: 46px
                left: 5px
                height: 100%
                background: #da9f36
                width: 1px
            &_info
                color: #da9f36
                font-family: "Caravan"
                font-size: 110px
                font-weight: 400
                letter-spacing: 6px
            &_title
                color: #35673b
                font-size: 23px
                font-weight: 500
                margin-top: -40px
                margin-bottom: 18px
                margin-left: 35px
            &_text
                font-size: 15px
                font-weight: 400
                margin-left: 35px
    &.win
        .instructions_box_item_title
            margin-top: 0
@media screen and (max-width: 480px)
    .instructions
        &_box
            &_item
                &_info
                    font-size: 80px

@media screen and (max-width: 380px)
    .instructions
        &_box
            &_item
                &_info
                    font-size: 65px
                &_text
                    margin-left: 5px
                &_title
                    margin-left: 5px
                    font-size: 20px
                    margin-top: -30px
