body
    font-family: 'Montserrat', sans-serif

.main-container
    max-width: 830px
    width: 100%
    margin: 0 auto

.main-container.main-container-fhd
    max-width: 1920px

.main-container.main-container-big
    max-width: 1730px

.main-container.main-container-large
    max-width: 1060px

.main-container.main-container-middle
    max-width: 630px

.main-container.main-container-small
    max-width: 570px

.main-padding
    padding-left: 15px
    padding-right: 15px
    box-sizing: border-box

.main-title
    color: #ececee
    font-family: 'Playfair Display', serif
    font-size: 40px
    font-weight: 700
    padding: 0
    margin: 0

.main-no-scroll
    overflow: hidden

.main-relative
    position: relative

img
    max-width: 100%
    height: auto

i
    display: inline-block
