.popup
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    overflow: auto
    z-index: 3
    display: none
    &-wrapper
        display: flex
        flex-direction: row
        align-items: center
        height: 100%
    &-inner
        margin: auto
        max-width: 800px
        width: 100%
        border-radius: 40px
        background-color: #ffffff
        padding: 45px 20px 50px
        position: relative
        box-sizing: border-box
    &-close
        position: absolute
        right: 25px
        top: 25px
        cursor: pointer
