.questions
    color: #ececee
    p
        padding: 0
        margin: 0
    &_title
        padding: 110px 0 70px
    &_box
        color: #ececee
        font-size: 16px
        font-weight: 400
        line-height: 16px
        &_item
            padding-bottom: 14px
            border-bottom: 1px solid #ececee
            margin-bottom: 50px
            position: relative
            box-sizing: border-box
            padding-right: 30px
            &_hidden
                display: none
                padding-top: 14px
                font-weight: 500
                line-height: 1.3
            &_arrow
                position: absolute
                right: 0
                bottom: 12px
                cursor: pointer
                transition: transform 0.3s
                &.active
                    transform: rotate(180deg)
