.thanks
    padding: 0 70px
    &_title
        color: #35673b
        text-align: center
    &_text
        color: #152817
        font-size: 15px
        max-width: 512px
        width: 100%
        margin: 40px auto 30px
        p
            padding: 0
            margin: 0
    &_logo
        text-align: center
    &_image
        text-align: center
    &_info
        color: #35673b
        font-family: 'Caravan'
        font-size: 193px
        font-weight: 400
        line-height: 100px
        span
            text-shadow: 2px 9px 10px rgba(7, 7, 7, 0.18)
            &:first-child
                padding-left: 50px
    &_btn
        display: block
        margin: 40px auto 25px
        color: #ffffff
        font-family: "Playfair Display"
        font-size: 40px
        font-weight: 700
        line-height: 42px
        max-width: 310px
        width: 100%
        height: 54px
        border-radius: 27px
        background-color: #075523
        border: 0
        text-align: center
        cursor: pointer
    &_message
        padding-top: 20px
        font-size: 31px
@media screen and (max-width: 800px)
    .thanks
        padding: 0 0
        &_info
            text-align: center

@media screen and (max-width: 676px)
    .thanks
        &_info
            font-size: 155px
            line-height: 80px

@media screen and (max-width: 540px)
    .thanks
        &_info
            font-size: 125px
            line-height: 64px
            span
                &:first-child
                    padding-left: 0

@media screen and (max-width: 380px)
    .thanks
        &_info
            font-size: 100px
            line-height: 50px
