{% extends "dashboard/layouts/base.html.j2" %}
{% block main %}
    <div class="error-box">
        <div class="error-body text-center">
            <h1 class="error-title text-danger">{{status_code}}</h1>
            <h3 class="text-uppercase error-subtitle">{{title}}</h3>
            <p class="text-muted m-t-30 m-b-30">{{text}}</p>
            <a href="/" class="btn btn-danger btn-rounded waves-effect waves-light m-b-40">На главную</a>
        </div>
    </div>
{% endblock %}
