{% extends "frontend/layouts/base.html.j2" %}

{% block content %}
    {% include "frontend/common/info.html.j2" %}
    {% include "frontend/common/instructions.html.j2" %}
    {% include "frontend/common/questions.html.j2" %}
    {% include "frontend/popup/subscribe.html.j2" %}
    {% include "frontend/popup/thanks.html.j2" %}
    {% include "frontend/popup/message.html.j2" %}
{% endblock %}
