{% extends "dashboard/layouts/base.html.j2" %}
{% block title %}Панель управления - Управление офисами{% endblock %}

{% block breadcrumb %}
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Управление офисами</h4>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <form class="form-horizontal" method="post">
                    <div class="card-body">
                        {% csrf_token %}

                        {{ form.non_field_errors }}

                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field.errors }}
                            {{ hidden_field }}
                        {% endfor %}

                        <div class="form-group row">
                            {{ form.title.label_tag }}
                            <small class="help-block form-text">{{ form.title.help_text }}</small>
                            {{ form.title }}
                            <small class="form-text text-danger">{{ form.title.errors }}</small>
                        </div>
                    </div>
                    <div class="border-top">
                        <div class="card-body">
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
