// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$arrow-down-name: 'arrow-down'
$arrow-down-x: 31px
$arrow-down-y: 0px
$arrow-down-offset-x: -31px
$arrow-down-offset-y: 0px
$arrow-down-width: 20px
$arrow-down-height: 11px
$arrow-down-total-width: 51px
$arrow-down-total-height: 31px
$arrow-down-image: '../images/sprites/sprite.png'
$arrow-down: (31px, 0px, -31px, 0px, 20px, 11px, 51px, 31px, '../images/sprites/sprite.png', 'arrow-down', )
$close-name: 'close'
$close-x: 0px
$close-y: 0px
$close-offset-x: 0px
$close-offset-y: 0px
$close-width: 31px
$close-height: 31px
$close-total-width: 51px
$close-total-height: 31px
$close-image: '../images/sprites/sprite.png'
$close: (0px, 0px, 0px, 0px, 31px, 31px, 51px, 31px, '../images/sprites/sprite.png', 'close', )
$spritesheet-width: 51px
$spritesheet-height: 31px
$spritesheet-image: '../images/sprites/sprite.png'
$spritesheet-sprites: ($arrow-down, $close, )
$spritesheet: (51px, 31px, '../images/sprites/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
