{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="ru">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Secret Santa{% endblock %}</title>

        <link rel="stylesheet" href="{% static 'frontend/main.min.css' %}?v=1.05">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'frontend/favicon.png' %}">
    </head>

    <body>
        {% include "frontend/layouts/header.html.j2" %}

        {% block content %}{% endblock %}


    </body>

    <script src="{% static 'frontend/main.min.js' %}?v=1.05" charset="utf-8"></script>
</html>
