<footer class="footer">
    <div class="footer_text">
        <p>Остались вопросы?</p>
        <p>Пишите на почту <a href="mailto:iamyoursanta@biocad.ru">iamyoursanta@biocad.ru</a>, и мы с радостью вам ответим!</p>
    </div>
</footer>
