{% load static %}
<header class="header">
    <div class="header_container main-container main-container-fhd main-relative">
        <div class="main-container main-padding">
            <nav class="header_nav">
                <ul class="header_nav_menu">
                    <li class="header_nav_menu_item">
                        <a href="/" class="header_nav_menu_item_link">Главная</a>
                    </li>
                    <li class="header_nav_menu_item">
                        <a href="#" class="header_nav_menu_item_link js-popup-open" data-popup="js-popup-subscribe">Регистрация</a>
                    </li>
                    <li class="header_nav_menu_item">
                        <a href="#instructions" class="header_nav_menu_item_link js-scroll-to">Как это работает?</a>
                    </li>
                    <li class="header_nav_menu_item">
                        <a href="#questions" class="header_nav_menu_item_link js-scroll-to">Вопросы к Санте</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header_box">
            <div class="header_box_image">
                <img src="{% static 'frontend/images/header/header-text.png' %}" alt="">
            </div>
            <div class="header_box_text">
                <p class="header_box_text_title">Прими участие в тайном обмене подарками!</p>
                <span class="header_box_text_btn js-popup-open" data-popup="js-popup-subscribe">Участвовать</span>
            </div>
        </div>

        <div class="header_icons">
            <div class="header_icons_left animated slideInLeft">
                <img src="{% static 'frontend/images/header/element1-original.png' %}" class="animated pulse" alt="">
            </div>
            <div class="header_icons_right animated slideInRight">
                <img src="{% static 'frontend/images/header/element2-original.png' %}" class="animated pulse" alt="">
            </div>
        </div>
    </div>

</header>
