{% load static %}
<div class="popup js-popup js-popup-message">
    <div class="popup-wrapper">
        <div class="popup-inner">
            <div class="popup-close js-popup-close"><i class="icons-close"></i></div>
            <div class="thanks">
                <div class="thanks_title main-title">
                    <span class="js-popup-message-text thanks_message"></span>
                </div>
            </div>
        </div>
    </div>
</div>
