{% load employees_helper %}
{% getSubscribeForm as form %}

<div class="popup js-popup js-popup-subscribe">
    <div class="popup-wrapper">
        <div class="popup-inner">
            <div class="popup-close js-popup-close"><i class="icons-close"></i></div>
            <div class="form form-popup">
                <form action="{% url 'employees_subscribe' %}" method="post" class="js-subscribe-form">
                    {% csrf_token %}

                    <div class="form_title main-title">
                        <span>Регистрация в Secret Santa</span>
                    </div>
                    <div class="form_text">
                        <p>Для участия в розыгрыше подарков Secret Santa, пожалуйста, заполните следующие колонки:</p>
                    </div>
                    <div class="form_row">
                        <div class="form_row_top">
                            <label class="form_label" for="id_{{ form.name.name }}">{{ form.name.label }}</label>
                        </div>
                        <div class="form_row_bottom">
                            {{ form.name }}
                        </div>
                    </div>

                    <div class="form_row">
                        <div class="form_row_top">
                            <label class="form_label" for="id_{{ form.office.name }}">{{ form.office.label }}</label>
                        </div>
                        <div class="form_row_bottom">
                            {{ form.office }}
                        </div>
                    </div>

                    <div class="form_row">
                        <div class="form_row_top">
                            <label class="form_label" for="id_{{ form.department.name }}">{{ form.department.label }}</label>
                        </div>
                        <div class="form_row_bottom">
                            {{ form.department }}
                        </div>
                    </div>

                    <div class="form_row">
                        <div class="form_row_top">
                            <label class="form_label" for="id_{{ form.email.name }}">{{ form.email.label }}</label>
                        </div>
                        <div class="form_row_bottom">
                            {{ form.email }}
                        </div>
                    </div>

                    <div class="form_row">
                        <div class="form_submit">
                            <button type="submit" class="form_submit_btn"><span>Зарегистрироваться</span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
