{% load static %}
<div class="popup js-popup js-popup-thanks">
    <div class="popup-wrapper">
        <div class="popup-inner">
            <div class="popup-close js-popup-close"><i class="icons-close"></i></div>
            <div class="thanks">
                <div class="thanks_title main-title">
                    <span>Спасибо!</span>
                </div>
                <div class="thanks_text">
                    <p>Спасибо за участие в новогоднем обмене подарками!</p>
                    <p>А теперь проверьте свой почтовый ящик — вам придет письмо с дальнейшими инструкциями.</p>
                </div>
                <div class="thanks_image">
                    <img src="{% static 'frontend/images/logo/logo.png' %}" alt="">
                </div>
                <div class="thanks_info">
                    <span>Счастливого</span>
                    <span>Нового года!</span>
                </div>
                <div class="thanks_btn js-popup-close">
                    <span>Закрыть</span>
                </div>
            </div>
        </div>
    </div>
</div>
