{% extends "dashboard/layouts/base.html.j2" %}
{% block title %}Панель управления - Управление пользователями{% endblock %}

{% block breadcrumb %}
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Управление пользователями</h4>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <form class="form-horizontal" method="post">
                    <div class="card-body">
                        {% csrf_token %}

                        {{ form.non_field_errors }}

                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field.errors }}
                            {{ hidden_field }}
                        {% endfor %}
                        
                        <div class="form-group row">
                            {{ form.username.label_tag }}
                            <small class="help-block form-text">{{ form.username.help_text }}</small>
                            {{ form.username }}
                            <small class="form-text text-danger">{{ form.username.errors }}</small>
                        </div>

                        <div class="form-group row">
                            {{ form.password1.label_tag }}
                            <small class="help-block form-text">{{ form.password1.help_text }}</small>
                            {{ form.password1 }}
                            <small class="form-text text-danger">{{ form.password1.errors }}</small>
                        </div>

                        <div class="form-group row">
                            {{ form.password2.label_tag }}
                            <small class="help-block form-text">{{ form.password2.help_text }}</small>
                            {{ form.password2 }}
                            <small class="form-text text-danger">{{ form.password2.errors }}</small>
                        </div>
                    </div>
                    <div class="border-top">
                        <div class="card-body">
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
