{% extends "dashboard/layouts/base.html.j2" %}
{% block title %}Панель управления - Управление пользователями{% endblock %}

{% block breadcrumb %}
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Управление пользователями</h4>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <form class="form-horizontal" method="post">
                    <div class="card-body">
                        {% csrf_token %}

                        {{ form.non_field_errors }}

                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field.errors }}
                            {{ hidden_field }}
                        {% endfor %}

                        <div class="form-group row">
                            {{ form.username.label_tag }}
                            <small class="help-block form-text">{{ form.username.help_text }}</small>
                            {{ form.username }}
                            <small class="form-text text-danger">{{ form.username.errors }}</small>
                        </div>

                        <div class="form-group row">
                            {{ form.first_name.label_tag }}
                            <small class="help-block form-text">{{ form.first_name.help_text }}</small>
                            {{ form.first_name }}
                            <small class="form-text text-danger">{{ form.first_name.errors }}</small>
                        </div>

                        <div class="form-group row">
                            {{ form.last_name.label_tag }}
                            <small class="help-block form-text">{{ form.last_name.help_text }}</small>
                            {{ form.last_name }}
                            <small class="form-text text-danger">{{ form.last_name.errors }}</small>
                        </div>

                        <div class="form-group row">
                            {{ form.email.label_tag }}
                            <small class="help-block form-text">{{ form.email.help_text }}</small>
                            {{ form.email }}
                            <small class="form-text text-danger">{{ form.email.errors }}</small>
                        </div>

                        <div class="form-group row">
                            {{ form.date_joined.label_tag }}
                            <small class="help-block form-text">{{ form.date_joined.help_text }}</small>
                            {{ form.date_joined }}
                            <small class="form-text text-danger">{{ form.date_joined.errors }}</small>
                        </div>

                        <div class="form-group row">
                            <div class="custom-control custom-checkbox">
                                {{ form.is_superuser }}
                                <label class="custom-control-label" for="id_{{ form.is_superuser.name }}">{{ form.is_superuser.label }}</label>
                            </div>
                            <small class="help-block form-text">{{ form.is_superuser.help_text }}</small>
                            <small class="form-text text-danger">{{ form.is_superuser.errors }}</small>
                        </div>

                        <div class="form-group row">
                            <div class="custom-control custom-checkbox">
                                {{ form.is_staff }}
                                <label class="custom-control-label" for="id_{{ form.is_staff.name }}">{{ form.is_staff.label }}</label>
                            </div>
                            <small class="help-block form-text">{{ form.is_staff.help_text }}</small>
                            <small class="form-text text-danger">{{ form.is_staff.errors }}</small>
                        </div>

                        <div class="form-group row">
                            <div class="custom-control custom-checkbox">
                                {{ form.is_active }}
                                <label class="custom-control-label" for="id_{{ form.is_active.name }}">{{ form.is_active.label }}</label>
                            </div>
                            <small class="help-block form-text">{{ form.is_active.help_text }}</small>
                            <small class="form-text text-danger">{{ form.is_active.errors }}</small>
                        </div>
                    </div>
                    <div class="border-top">
                        <div class="card-body">
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
