{% extends "dashboard/layouts/base.html.j2" %}
{% block title %}Панель управления - Департаменты{% endblock %}

{% block breadcrumb %}
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Департаменты</h4>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="dataTables_wrapper container-fluid dt-bootstrap4">
                            <div class="row">
                                <h4><a href="{% url 'departments_new' %}" class="btn btn-info">Создать</a></h4>
                                <table class="table table-striped table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Название</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for obj in object_list %}
                                            <tr>
                                                <td scope="row">{{ obj.id }}</td>
                                                <td>{{ obj.title }}</td>
                                                <td align="right">
                                                    <a href="{% url 'departments_edit' obj.id %}" class="btn btn-secondary"><i class="ti-pencil" aria-hidden="true"></i></a>
                                                    <a href="{% url 'departments_delete' obj.id %}" class="btn btn-secondary"><i class="ti-trash" aria-hidden="true"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% include "dashboard/common/pagination.html.j2" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
