{% extends 'dashboard/layouts/base.html.j2' %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Удаление</strong>
        </div>
        <div class="card-body">
            <form method="post">{% csrf_token %}
                Вы уверены, что хотите удалить "#{{ object.id }}" ?
                <button type="submit" class="btn btn-danger btn-flat">Да</button>
            </form>
        </div>
    </div>
{% endblock %}
