{% if page_obj %}
    <div class="row">
        <div class="col-sm-12 col-md-5">
            <div class="dataTables_info">Показано {{page_obj.start_index}} - {{ page_obj.end_index }} из {{page_obj.paginator.count}}</div>
        </div>
        {% if is_paginated %}
        <div class="col-sm-12 col-md-7">
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="paginate_button page-item previous"><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> << </a></li>
                    {% else %}
                        <li class="paginate_button page-item previous disabled"><a href="#" class="page-link"> << </a></li>
                    {% endif %}
                    {% for i in page_obj.paginator.page_range %}
                        {% if i <= page_obj.number|add:5 and i >= page_obj.number|add:-5 %}
                            {% if page_obj.number == i %}
                                <li class="paginate_button page-item active">
                                    <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                                </li>
                            {% else %}
                                <li class="paginate_button page-item">
                                    <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="paginate_button page-item next">
                            <a href="?page={{ page_obj.next_page_number }}" class="page-link"> >> </a>
                        </li>
                    {% else %}
                        <li class="paginate_button page-item next disabled"><a href="#" class="page-link"> >> </a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
{% endif %}
